<div ng-controller="LocaleController" ng-if="headerReady"
	class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="pull-left" style="margin-top: 2px; cursor: pointer;"><img
				ng-click="gotoHub()" style="margin-left: -2px; height: 36px"
				ng-src="{{imgPath}}/logos/gloria_users_logo.png"></a>
			<div class="pull-right"
				style="height: 22px; margin-top: 10px; margin-left: 20px">
				<img ng-repeat="lang in languages" ng-click="setLanguage($index)"
					style="cursor: pointer; height: 100%; margin-left: 1px"
					ng-src="{{imgPath}}/flags/{{lang}}.png">
			</div>
			<div class="animate-show" ng-show="verified">
				<div ng-hide="login.user">
					<form action="" ng-submit="login.connect()"
						class="navbar-form pull-right">
						<div>
							<div style="margin-right: 20px; margin-top: 10px; float: left">
								<div ng-switch on="login.failed" style="font-size: 85%;">
									<div ng-switch-when="true">{{'base.login.failed'|i18n}}</div>
									<div ng-switch-when="false" style="cursor: pointer;">
										<a ng-click="toggleLoginFace()" style="color: #818181">{{accountOption |i18n}}</a>
									</div>
								</div>
							</div>
							<input
								style="background-color: #E0E0E0; color: #0F0F0F; width: 150px"
								ng-model="login.email" name="email" class="span login-input"
								type="text" placeholder="Email" ng-style="inputStyle" /> <input
								style="background-color: #E0E0E0; color: #0F0F0F; margin-right: 8px"
								ng-model="login.password" class="span2 login-input"
								name="password" type="password" placeholder="{{'base.login.password'|i18n}}"
								ng-style="inputStyle" />
							<button class="btn btn-inverse" type="submit">{{'base.login.in'
								|i18n}}</button>
						</div>
					</form>
				</div>

			</div>
			<div ng-show="login.user">
				<button type="submit" class="pull-right btn btn-inverse"
					ng-click="login.disconnect()">{{'base.login.out' |i18n}}</button>
				<div class="span5 pull-right ng-binding"
					style="padding-top: 10px; padding-right: 5px; margin-right: 20px; text-align: right">{{'base.login.welcome'
					| i18n}}, {{login.user}}</div>
			</div>
		</div>
	</div>
</div>
</div>