<div ng-controller="LocaleController" ng-if="headerReady"
	class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="pull-left" style="margin-top: 2px; cursor: pointer;"><img
				ng-click="gotoHub()" style="margin-left: -8px; height: 36px"
				ng-src="{{imgPath}}/logos/gloria_users_logo.png"></a>
			<div class="pull-right"
				style="height: 22px; margin-top: 10px; margin-left: 20px">
				<img ng-repeat="lang in languages" ng-click="setLanguage($index)"
					style="cursor: pointer; height: 100%; margin-left: 1px"
					ng-src="{{imgPath}}/flags/{{lang}}.png">
			</div>
			<div class="animate-show" ng-show="verified">
				<div ng-hide="login.user">
					<form action="" ng-submit="login.connect()"
						class="navbar-form pull-right">
						<div ng-switch on="login.failed">
							<div ng-switch-when="false">

								<input style="background-color: #E0E0E0; color: #0F0F0F" ng-model="login.email" name="email" class="span2"
									type="text" placeholder="Email" /> <input style="background-color: #E0E0E0; color: #0F0F0F"
									ng-model="login.password" class="span2" name="password"
									type="password" placeholder="Password" />
								<button class="btn btn-inverse" type="submit">{{'base.login.in'
									|i18n}}</button>
							</div>
							<div ng-switch-when="true"
								style="margin-right: 30px; margin-top: 10px">
								<div class="mess-info">Login failed.</div>
							</div>
						</div>
					</form>
				</div>

			</div>
			<div ng-show="login.user">
				<button type="submit" class="pull-right btn btn-inverse"
					ng-click="login.disconnect()">{{'base.login.out' |i18n}}</button>
				<div class="span5 pull-right ng-binding"
					style="padding-top: 10px; padding-right: 5px; margin-right: 20px; text-align: right">{{'base.login.welcome'
					| i18n}}, {{login.user}}</div>
			</div>
		</div>
	</div>
</div>
</div>